div {
    display: block;
}

input[type = "text"],
input[type = "number"],
select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing:  border-box;
}

label {
    font-size: large;
    font-style: italic;
    font-weight: 600;
}

.btn {
    border:none;
    color:whitesmoke;
    font-size: 23px;
    font-weight: 700;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    border-radius: 5px;
    margin: 5px;
    padding: 5px 8px;
    margin-left:125px;
}


.btn-save {
    background-color:green;
}

.btn-close {
    background-color:red;
    width: 25%;
    margin-left:125px;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 4px;
}




